<div class="row">
  <div class="col-md-8">
    <h1>Chris Zhu</h1><br>
    <h3 id="desc-h3">UBC Computer Science Year 3</h3>
  </div>
  <div class="col-md-4">
    Email: chris.zhu12@gmail.com<br>
    Phone: 778 709 9258
  </div>
</div>
<hr class="main-hr">
<div class="row">
  <div class="col-md-2">
    <div class="side-nav">Skills</div>
  </div>
  <div class="col-md-10 top-10">
    Skills here
  </div>
</div>
<hr>

<div class="row">
  <div class="col-md-2">
    <div class="side-nav">Projects</div>
  </div>
  <div class="col-md-10 top-10">
    <ul id="projects-list">
      <li>
      <div class="row">
        <div class="col-md-9">
          <div class="desc-title">RacePonse</div>
          <div class="desc-lib">AngularJS, Ruby on Rails, MySQL</div>
          <div class="desc-desc">
            A polling application that is intended to provide the usage of the iClicker (response system designed for classrooms, costing students $30), as well as the additional feature of allowing audience to push questions to presenters in real-time. Can be used in any classroom or presentation scenario.
          </div>
        </div>
        <span class="right"> June 2013 - Present</span>
      </div>
      </li>
      <li>
      <div class="row">
        <div class="col-md-9">
          <div class="desc-title">UBC Hackathon 2</div>
          <div class="desc-lib">AngularJS, Ruby on Rails</div>
          <div class="desc-desc">
            Worked with NPO Self Design to create a platform for parent to learn how to home school children.
            Developed backend to parse and serve data from an XML data source.
          </div>
        </div>
        <span class="right"> Oct 2013</span>
